<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-branch-heading">Create or edit a Branch</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_desription">Desription</label>
                    <input type="text" class="form-control" name="desription" id="field_desription"
                           formControlName="desription"/>
                    <div *ngIf="editForm.get('desription')!.invalid && (editForm.get('desription')!.dirty || editForm.get('desription')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('desription')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_latitud">Latitud</label>
                    <input type="number" class="form-control" name="latitud" id="field_latitud"
                           formControlName="latitud"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_longitud">Longitud</label>
                    <input type="number" class="form-control" name="longitud" id="field_longitud"
                           formControlName="longitud"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_organization">Organization</label>
                    <select class="form-control" id="field_organization" name="organization" formControlName="organization">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="organizationOption.id === editForm.get('organization')!.value?.id ? editForm.get('organization')!.value : organizationOption" *ngFor="let organizationOption of organizations; trackBy: trackById">{{ organizationOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
