<div>
    <h2>
        <span id="user-management-page-heading">Usuarios-Org</span>

        <button *ngIf="false" class="btn btn-primary float-right jh-create-entity" [routerLink]="['./new']">
            <fa-icon icon="plus"></fa-icon> <span>Crear Nuevo Usuario</span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>

    <div class="table-responsive" *ngIf="filteruser()">
        <table class="table table-striped" aria-describedby="user-management-page-heading">
            <!--<thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="transition.bind(this)">
                    <th *ngIf="false" scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="login"><span>Usuario</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span>Correo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                    <th *ngIf="false" scope="col"><span>Profiles</span></th>
                    <th scope="col" jhiSortBy="createdDate"><span>Fecha de creación</span> <fa-icon icon="sort"></fa-icon></th>
                    <th *ngIf="false" scope="col" jhiSortBy="lastModifiedBy"><span>Ultima Modificacion por</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col" jhiSortBy="lastModifiedDate"><span>Fecha de Última Modificación</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>-->
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="transition.bind(this)">
                        <th scope="col"  jhiSortBy="login"><span>Usuarios</span> <fa-icon icon="sort"></fa-icon></th>
                </tr>
            </thead>
            <tbody *ngIf="filteruser()">    
                <div *ngFor="let role of filteruser() ;trackBy: trackId">
                <tr *ngFor="let user of filterusers(role.user.id) trackBy: trackIdentity">
                    <td *ngIf="false" ><a [routerLink]="['./', user.login, 'view']">{{ user.id }}</a></td>
                    <td>{{ user.login }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <button class="btn btn-danger btn-sm" (click)="setActive(user, true)" *ngIf="!user.activated">Desactivar</button>
                        <button class="btn btn-success btn-sm" (click)="setActive(user, false)" *ngIf="user.activated"
                                [disabled]="!currentAccount || currentAccount.login === user.login">Activar</button>
                    </td>
                    <td *ngIf="!currentAccount || currentAccount.login === user.login">
                        <span>ADMIN</span>
                    </td>
                    <td *ngIf="false" >
                        <div *ngFor="let authority of user.authorities">
                            <span class="badge badge-info">{{ authority }}</span>
                        </div>
                    </td>
                    <td *ngIf="false" >{{ user.createdDate | date:'dd/MM/yy HH:mm' }}</td>
                    <td *ngIf="false" >{{ user.lastModifiedBy }}</td>
                    <td *ngIf="false" >{{ user.lastModifiedDate | date:'dd/MM/yy HH:mm' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button [disabled]="!currentAccount || currentAccount.login === user.login" type="submit"
                                    [routerLink]="['./', user.login, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">Vista</span>
                            </button>

                            <button [disabled]="!currentAccount || currentAccount.login === user.login" type="submit"
                                    [routerLink]="['./', user.login, 'edit']"
                                    queryParamsHandling="merge"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Editar</span>
                            </button>

                         <!--   <button type="button" (click)="deleteUser(user)"
                                    class="btn btn-danger btn-sm" [disabled]="!currentAccount || currentAccount.login === user.login">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Eliminar</span>
                            </button>-->
                        </div>
                    </td>
                </tr>
                </div>
            </tbody>
        </table>
    </div>

    <div *ngIf="filteruser()">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
