<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-eat-heading">Create or edit a Eat</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_category">Category</label>
                    <select class="form-control" name="category" formControlName="category" id="field_category">
                        <option value="Pan">Pan</option>
                        <option value="Cereales">Cereales</option>
                        <option value="Pastas">Pastas</option>
                        <option value="Arroz">Arroz</option>
                        <option value="Verduras">Verduras</option>
                        <option value="Frutas">Frutas</option>
                        <option value="Leche">Leche</option>
                        <option value="Cacao">Cacao</option>
                        <option value="Yogur">Yogur</option>
                        <option value="Queso">Queso</option>
                        <option value="Carne">Carne</option>
                        <option value="Pollo">Pollo</option>
                        <option value="Pescado">Pescado</option>
                        <option value="Huevos">Huevos</option>
                        <option value="Aceite">Aceite</option>
                        <option value="Galletas">Galletas</option>
                        <option value="Jugo">Jugo</option>
                        <option value="Gaseosa">Gaseosa</option>
                        <option value="Harina">Harina</option>
                        <option value="Azucar">Azucar</option>
                        <option value="Sal">Sal</option>
                        <option value="Manteca">Manteca</option>
                        <option value="Te">Te</option>
                        <option value="Cafe">Cafe</option>
                        <option value="Yerba">Yerba</option>
                        <option value="Otros">Otros</option>
                        <option value="Pan_kg">Pan_kg</option>
                        <option value="Cereales_kg">Cereales_kg</option>
                        <option value="Pastas_kg">Pastas_kg</option>
                        <option value="Arroz_kg">Arroz_kg</option>
                        <option value="Verduras_kg">Verduras_kg</option>
                        <option value="Frutas_kg">Frutas_kg</option>
                        <option value="Leche_kg">Leche_kg</option>
                        <option value="Cacao_kg">Cacao_kg</option>
                        <option value="Yogur_kg">Yogur_kg</option>
                        <option value="Queso_kg">Queso_kg</option>
                        <option value="Carne_kg">Carne_kg</option>
                        <option value="Pollo_kg">Pollo_kg</option>
                        <option value="Pescado_kg">Pescado_kg</option>
                        <option value="Huevos_kg">Huevos_kg</option>
                        <option value="Aceite_kg">Aceite_kg</option>
                        <option value="Galletas_kg">Galletas_kg</option>
                        <option value="Jugo_kg">Jugo_kg</option>
                        <option value="Gaseosa_kg">Gaseosa_kg</option>
                        <option value="Harina_kg">Harina_kg</option>
                        <option value="Azucar_kg">Azucar_kg</option>
                        <option value="Sal_kg">Sal_kg</option>
                        <option value="Manteca_kg">Manteca_kg</option>
                        <option value="Te_kg">Te_kg</option>
                        <option value="Cafe_kg">Cafe_kg</option>
                        <option value="Yerba_kg">Yerba_kg</option>
                        <option value="Pan_g">Pan_g</option>
                        <option value="Cereales_g">Cereales_g</option>
                        <option value="Pastas_g">Pastas_g</option>
                        <option value="Arroz_g">Arroz_g</option>
                        <option value="Verduras_g">Verduras_g</option>
                        <option value="Frutas_g">Frutas_g</option>
                        <option value="Leche_g">Leche_g</option>
                        <option value="Cacao_g">Cacao_g</option>
                        <option value="Yogur_g">Yogur_g</option>
                        <option value="Queso_g">Queso_g</option>
                        <option value="Carne_g">Carne_g</option>
                        <option value="Pollo_g">Pollo_g</option>
                        <option value="Pescado_g">Pescado_g</option>
                        <option value="Huevos_g">Huevos_g</option>
                        <option value="Aceite_g">Aceite_g</option>
                        <option value="Galletas_g">Galletas_g</option>
                        <option value="Jugo_g">Jugo_g</option>
                        <option value="Gaseosa_g">Gaseosa_g</option>
                        <option value="Harina_g">Harina_g</option>
                        <option value="Azucar_g">Azucar_g</option>
                        <option value="Sal_g">Sal_g</option>
                        <option value="Manteca_g">Manteca_g</option>
                        <option value="Te_g">Te_g</option>
                        <option value="Cafe_g">Cafe_g</option>
                        <option value="Yerba_g">Yerba_g</option>
                        <option value="Pan_l">Pan_l</option>
                        <option value="Cereales_l">Cereales_l</option>
                        <option value="Pastas_l">Pastas_l</option>
                        <option value="Arroz_l">Arroz_l</option>
                        <option value="Verduras_l">Verduras_l</option>
                        <option value="Frutas_l">Frutas_l</option>
                        <option value="Leche_l">Leche_l</option>
                        <option value="Cacao_l">Cacao_l</option>
                        <option value="Yogur_l">Yogur_l</option>
                        <option value="Queso_l">Queso_l</option>
                        <option value="Carne_l">Carne_l</option>
                        <option value="Pollo_l">Pollo_l</option>
                        <option value="Pescado_l">Pescado_l</option>
                        <option value="Huevos_l">Huevos_l</option>
                        <option value="Aceite_l">Aceite_l</option>
                        <option value="Galletas_l">Galletas_l</option>
                        <option value="Jugo_l">Jugo_l</option>
                        <option value="Gaseosa_l">Gaseosa_l</option>
                        <option value="Harina_l">Harina_l</option>
                        <option value="Azucar_l">Azucar_l</option>
                        <option value="Sal_l">Sal_l</option>
                        <option value="Manteca_l">Manteca_l</option>
                        <option value="Te_l">Te_l</option>
                        <option value="Cafe_l">Cafe_l</option>
                        <option value="Yerba_l">Yerba_l</option>
                        <option value="Pan_cm3">Pan_cm3</option>
                        <option value="Cereales_cm3">Cereales_cm3</option>
                        <option value="Pastas_cm3">Pastas_cm3</option>
                        <option value="Arroz_cm3">Arroz_cm3</option>
                        <option value="Verduras_cm3">Verduras_cm3</option>
                        <option value="Frutas_cm3">Frutas_cm3</option>
                        <option value="Leche_cm3">Leche_cm3</option>
                        <option value="Cacao_cm3">Cacao_cm3</option>
                        <option value="Yogur_cm3">Yogur_cm3</option>
                        <option value="Queso_cm3">Queso_cm3</option>
                        <option value="Carne_cm3">Carne_cm3</option>
                        <option value="Pollo_cm3">Pollo_cm3</option>
                        <option value="Pescado_cm3">Pescado_cm3</option>
                        <option value="Huevos_cm3">Huevos_cm3</option>
                        <option value="Aceite_cm3">Aceite_cm3</option>
                        <option value="Galletas_cm3">Galletas_cm3</option>
                        <option value="Jugo_cm3">Jugo_cm3</option>
                        <option value="Gaseosa_cm3">Gaseosa_cm3</option>
                        <option value="Harina_cm3">Harina_cm3</option>
                        <option value="Azucar_cm3">Azucar_cm3</option>
                        <option value="Sal_cm3">Sal_cm3</option>
                        <option value="Manteca_cm3">Manteca_cm3</option>
                        <option value="Te_cm3">Te_cm3</option>
                        <option value="Cafe_cm3">Cafe_cm3</option>
                        <option value="Yerba_cm3">Yerba_cm3</option>
                        <option value="Pan_u">Pan_u</option>
                        <option value="Cereales_u">Cereales_u</option>
                        <option value="Pastas_u">Pastas_u</option>
                        <option value="Arroz_u">Arroz_u</option>
                        <option value="Verduras_u">Verduras_u</option>
                        <option value="Frutas_u">Frutas_u</option>
                        <option value="Leche_u">Leche_u</option>
                        <option value="Cacao_u">Cacao_u</option>
                        <option value="Yogur_u">Yogur_u</option>
                        <option value="Queso_u">Queso_u</option>
                        <option value="Carne_u">Carne_u</option>
                        <option value="Pollo_u">Pollo_u</option>
                        <option value="Pescado_u">Pescado_u</option>
                        <option value="Huevos_u">Huevos_u</option>
                        <option value="Aceite_u">Aceite_u</option>
                        <option value="Galletas_u">Galletas_u</option>
                        <option value="Jugo_u">Jugo_u</option>
                        <option value="Gaseosa_u">Gaseosa_u</option>
                        <option value="Harina_u">Harina_u</option>
                        <option value="Azucar_u">Azucar_u</option>
                        <option value="Sal_u">Sal_u</option>
                        <option value="Manteca_u">Manteca_u</option>
                        <option value="Te_u">Te_u</option>
                        <option value="Cafe_u">Cafe_u</option>
                        <option value="Yerba_u">Yerba_u</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_canteat">Canteat</label>
                    <input type="number" class="form-control" name="canteat" id="field_canteat"
                           formControlName="canteat"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_donations">Donations</label>
                    <select class="form-control" id="field_donations" name="donations" formControlName="donations">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="donationsOption.id === editForm.get('donations')!.value?.id ? editForm.get('donations')!.value : donationsOption" *ngFor="let donationsOption of donations; trackBy: trackById">{{ donationsOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
