<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="eat">
            <h2><span>Eat</span> {{ eat.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Category</span></dt>
                <dd>
                    <span>{{ eat.category }}</span>
                </dd>
                <dt><span>Canteat</span></dt>
                <dd>
                    <span>{{ eat.canteat }}</span>
                </dd>
                <dt><span>Donations</span></dt>
                <dd>
                    <div *ngIf="eat.donations">
                        <a [routerLink]="['/donations', eat.donations?.id, 'view']">{{ eat.donations?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/eat', eat.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
