<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-donations-heading">Create or edit a Donations</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                    <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('description')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_date">Date</label>
                    <div class="d-flex">
                        <input id="field_date" type="datetime-local" class="form-control" name="date" formControlName="date" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_latitud">Latitud</label>
                    <input type="number" class="form-control" name="latitud" id="field_latitud"
                           formControlName="latitud"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_longitud">Longitud</label>
                    <input type="number" class="form-control" name="longitud" id="field_longitud"
                           formControlName="longitud"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_availabilityday">Availabilityday</label>
                    <input type="text" class="form-control" name="availabilityday" id="field_availabilityday"
                           formControlName="availabilityday"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_availabilitytime">Availabilitytime</label>
                    <input type="text" class="form-control" name="availabilitytime" id="field_availabilitytime"
                           formControlName="availabilitytime"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_statuseat">Statuseat</label>
                    <select class="form-control" name="statuseat" formControlName="statuseat" id="field_statuseat">
                        <option value="Cargado">Cargado</option>
                        <option value="Apto">Apto</option>
                        <option value="NoApto">NoApto</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_statusdrive">Statusdrive</label>
                    <select class="form-control" name="statusdrive" formControlName="statusdrive" id="field_statusdrive">
                        <option value="Cargado">Cargado</option>
                        <option value="EnCamino">EnCamino</option>
                        <option value="Problema">Problema</option>
                        <option value="Entregado">Entregado</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_duration">Duration</label>
                    <input type="text" class="form-control" name="duration" id="field_duration"
                           formControlName="duration"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_intervalduration">Intervalduration</label>
                    <input type="text" class="form-control" name="intervalduration" id="field_intervalduration"
                           formControlName="intervalduration"/>
                </div>

                <div class="form-group">
                    <label for="field_needdonations">Needdonation</label>
                    <select class="form-control" id="field_needdonations" multiple name="needdonations" formControlName="needdonations">
                        <option [ngValue]="getSelected(editForm.get('needdonations')!.value, needdonationOption)" *ngFor="let needdonationOption of needdonations; trackBy: trackById">{{ needdonationOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_donor">Donor</label>
                    <select class="form-control" id="field_donor" name="donor" formControlName="donor">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="roleOption.id === editForm.get('donor')!.value?.id ? editForm.get('donor')!.value : roleOption" *ngFor="let roleOption of roles; trackBy: trackById">{{ roleOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
